[access]
	inheritFrom = All-Projects
[project]
	description = ARCHIVED- 2022-03-23 at the request of the project Issue ID: IT-23745\nThe repository for all tosca parsers
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-modeling-toscaparsers-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
